.column-container {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c12b34;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.reults-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

.date {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: white;
  align-self: center;
}

.logo {
  height: 75px;
}

.search-summary {
  height: 50px;
}
