@import '../../variables.scss';

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 142px;
    height: 35px;
    margin: 6px;
}

.available {
    cursor: pointer;
    background-color: $accent-color;
    // border: 2px solid #a1cbff;
    color: $light-text-color;
}

.unavailable {
    cursor: default;
    background-color: $secondary-color;
    // border: 2px solid #b2b7bb;
    color: $secondary-text-color;
}

.available:hover {
    background-color: lighten($accent-color, 10%);
}

.filler {
    height: 24px;
    width: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.button-text {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}