//@import "~bootstrap/scss/bootstrap";
//@import "custom";
.centered-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aligned-row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}