//@import "~bootstrap/scss/bootstrap";
//@import "custom";
@import "./variables.scss";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 75px;
}

.centered-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aligned-row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}