
/*
Flex container for entire page
Top to Bottom 
*/

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}


/*

Logo header - Need to add Mission Safe Logo
?? Why is this showing up this way -- figure it out

*/

.logo-header {
    position: absolute;
    width: 390px;
    height: 126px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    order: 1;

}

/*

Event header, red background 
Has event title displayed in it as child class

*/

.event-header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2.25%;
    bottom: 62.91%;

    background: #C12B34;
    order: 2;
}

/*
PARENT - event-header

Title of event

?? Need to figure out relative sizing
?? Adjust padding, too close to the end?
*/


.event-title {
    position: absolute;
    width: 352px;
    height: 54px;
    left: 23px;
    top: 152px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

/*
Another flex box 
Contains all people and results
*/

.result-background {
    order: 3;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 34.6%;
    bottom: 0%;

    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*
PEOPLE (heading)
Why is this not rendering?
*/

.result-attribute-title {
   /** position: absolute; **/
   /*  width: 80px;
    height: 28px;
    left: 14px;
    top: 345px; */

    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;

    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #000000;
}

/*
List of people and forms involved, staff and youth indicated

?? split up youth and staff? they have different end points, could help

Some code redundancy, just get things to render first though 
*/


.result-list {
    /*position: absolute;*/
    width: 390px;
    height: 140px;
    left: 0.01px;
    top: 375px;

    background: #FFFFFF;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}


/**.forms-list {
    position: absolute; 
    width: 390px;
    height: 140px;
    left: 0.01px;
    top: 375px;

    background: #FFFFFF;

    display: flex; 
    flex-direction: column; 
    justify-content: center
}
**/